<h1>About my Blog</h1>

<p>In cursus risus sed porta gravida. Mauris dignissim tellus quis pulvinar gravida. Cras enim diam, laoreet et dapibus vehicula, mattis id erat. Quisque nisl massa, vestibulum nec finibus in, consectetur non nisi. Nunc finibus tincidunt ex. Curabitur aliquet non ante eu sollicitudin. Praesent et risus dapibus, scelerisque mi malesuada, sodales urna. Praesent vel turpis venenatis massa sodales bibendum eget in lectus. Sed mi mauris, porta a ligula ut, porttitor congue ipsum. Nunc ut aliquet neque. Nam ullamcorper finibus sagittis. Sed sit amet eros purus.</p>

<%= link_to 'Home', root_path  %>