<div class="center jumbotron">
  <div id="jumbotron-content">
    <h1>ALPHA BLOG</h1>
    <p>Blogging made easy - and free!</p>
    <p><%= link_to "Sign Up Now!", "/signup", class: "btn btn-lg btn-xl" %></p>
  </div>
</div>

