<h1>Welcome to my blog</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque magna sed blandit consectetur. Phasellus dictum mi id ipsum malesuada, et placerat dui porttitor. In scelerisque metus sed mauris hendrerit luctus. Praesent sagittis lorem ipsum, et maximus metus efficitur non. Aenean tempus posuere lectus laoreet interdum. Mauris tristique venenatis est, tristique rutrum velit. Integer felis augue, venenatis viverra euismod eget, luctus in magna. Mauris egestas varius erat, sed faucibus velit dignissim quis. Morbi fringilla, odio ultricies elementum pharetra, dolor ipsum convallis risus, sit amet consectetur urna nisl sed tortor. Aliquam non feugiat mi. Donec risus ligula, scelerisque ut ante quis, euismod venenatis libero. Ut ullamcorper pharetra imperdiet.</p>


<%= link_to 'About', about_path %>